{% extends "weather_templates/index.html" %}
{% load static %}

{% block content %}
    {% csrf_token %}
    <h1>Regions</h1>
    <div class="content">
        <table class="tbl hoverable-table">
            <thead>
                <tr>
                    <td class="ri-column" data-column="1">Region ID</td>
                    <td class="name-column" data-column="2">Region Name</td>
                    <td class="prov-column" data-column="3">Province</td>
                </tr>
            </thead>
            <tbody>
                {% for rg in reg %}
                <tr>
                    <td class="ri-column" data-column="1">{{ rg.region_id }}</td>
                    <td class="name-column" data-column="2">{{ rg.region_name }}</td>
                    <td class="prov-column" data-column="3">{{ rg.province}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}